
.pagination {
  display: flex;
  justify-content: end;
  margin: 2rem 0;

  & .item {
    padding: 1rem;
    color: var(--black);
    background-color: var(--white);
  }


  button {
    padding: 0.6rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 3px;
    cursor: pointer;
  }
  
  & .item.active {
    color: var(--white);
    border-color:var(--border);
    background: var(--border);
  }
}
