.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  width: 240px;
  z-index: 10;
  transition: all 0.3s ease-in-out;

  &__hamburger {
    position: absolute;
    right: -50px;
    background-color: rgba(225, 225, 225, 0.4);
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 739px) {
      display: none;
    }
  }

  &__logo {
    text-align: center;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }

  &__navlink {
    margin-top: 4rem;
  }

  &__link {
    display: block;
    border-radius: 4px;
    color: var(--white);
    padding: 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-color: var(--border);
      background-color: var(--backround);
    }
  }

  &__link.active {
    border-color: var(--border);
    background-color: var(--backround);
  }
}

.navbar.open {
  left: 0;
}

.navbar.close {
  left: -240px;
  @media screen and (min-width: 739px) {
    left: 0;
  }
}
